.main-header {
  padding-bottom: 260px;
  padding-top: 10px;
  background-image: url('../images/header_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.main-header__nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  color: #255063;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 300;
  img {
    display: inline-block;
    margin-right: 10px;
  }
}

.main-header__nav_email {
  text-decoration: underline;
}

.main-header__call {
  text-align: right;
  span {
    display: block;
    margin-bottom: 5px;
    color: white;
    font-family: "Open Sans";
    line-height: 18px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
  }
  a {
    display: block;
    color: white;
    font-family: "Open Sans";
    line-height: 18px;
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.main-menu {
  background-color: #3a95c7;
  border-radius: 5px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.26);
}

.main-wrap {
  padding-top: 35px;
  padding-bottom: 80px;
}

.main-sidebar {}

.main-content {
  padding-left: 30px;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #2a4756;
    font-family: "Open Sans";
    font-weight: 600;
    line-height: 22px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 14px;
  }
}

.sidebar-nav {
  margin: 0;
  padding: 0;
  display: block;
  margin-bottom: 30px;
  border-radius: 5px 5px 0 0;
  list-style: none;
  background-color: #fafafa;
  transition: all 0.2s ease-out;
  li {
    a {
      display: block;
      padding: 14px 18px;
      color: #3a95c7;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;
      transition: all 0.2s ease-out;
      box-shadow: 0 1px 0 #efefef;
      &:hover,
      &:focus,
      &:active {
        background-color: #3a95c7;
        color: white;
        text-decoration: none;
      }
    }
  }
}

.sidebar-title {
  display: block;
  margin-bottom: 10px;
  color: #2a4756;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 14px;
}

.sidebar-wow {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
  flex-flow: row wrap;
}

.sidebar-form {
  margin-bottom: 45px;
  input {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    padding: 16px 24px;
    outline: none;
    border: none;
    background-color: white;
    border: 1px solid #b8b8b8;
    border-radius: 3px;
    color: rgba(42, 71, 86, 0.71);
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    transition: all 0.2s ease-out;
    &:focus {
      border-color: #3a95c7;
    }
  }
}

.sidebar-form__btn {
  background-color: #b60000 !important;
  border-radius: 3px;
  border-color: #b60000 !important;
  padding: 20px 26px !important;
  color: #fefefe !important;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 14px;
  transition: all 0.2s ease-out;
  &:hover {
    background-color: #3a95c7 !important;
    border-color: #3a95c7 !important;
  }
}

.sidebar-news {}

.sidebar-news-card {
  display: block;
  margin-bottom: 5px;
  color: #2a4756;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  p {
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 22px;
    color: #2a4756;
    font-weight: 300;
  }
  a {
    display: block;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 22px;
    color: #a6b83d;
    font-weight: 600;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.home-prev {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 40px;
}

.home-prev__img {
  img {
    width: 251px;
    height: 168px;
    border-radius: 4px;
    object-fit: contain;
  }
}

.home-prev__description {
  padding-left: 20px;
  span {
    display: inline-block;
    margin-bottom: 15px;
    color: #2a4756;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 400;
    line-height: 22px;
  }
  p {
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 22px;
    color: #3b5a6b;
    font-weight: 300;
  }
  a {
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 22px;
    color: #a6b83d;
    font-weight: 600;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.main-content__title {
  display: block;
  margin-bottom: 15px;
  color: #2a4756;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
}

#myCarousel {
  margin-bottom: 60px;
}

.worker-card {
  display: flex;
  align-items: flex-end;
  img {
    display: block;
    width: 198px;
    height: 180px;
    object-fit: cover;
  }
  span {
    position: absolute;
    width: 198px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.67);
    border-radius: 3px;
    color: #1f3541;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }
}

#owl-home {
  margin-bottom: 30px;
}

.home-review {
  margin-bottom: 60px;
  padding: 26px;
  background-color: #f2f2f2;
  border-radius: 5px;
  span {
    display: block;
    margin-bottom: 10px;
    color: #2a4756;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
  }
  p {
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 22px;
    color: #2a4756;
    font-weight: 300;
  }
  a {
    display: block;
    margin-top: 5px;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 22px;
    color: #a6b83d;
    font-weight: 600;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.home-seo {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #2a4756;
    font-family: "Open Sans";
    font-weight: 600;
    line-height: 22px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 14px;
  }
  p {
    color: #2a4756;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
  }
}

.main-footer {
  padding-top: 20px;
  padding-bottom: 35px;
  background-color: #1f3541;
  text-align: center;
  span {
    display: block;
    margin-bottom: 10px;
    color: #b3b3b3;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
  }
  a {
    display: block;
    color: rgba(179, 179, 179, 0.51);
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 300;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #3a95c7;
      text-decoration: none;
      font-size: 14px;
    }
  }
  .navbar-nav {
    display: flex;
    justify-content: space-between;
    li {
      a {
        color: #ccc;
        font-family: "Open Sans";
        font-size: 11px;
        font-weight: 600;
        line-height: 14px;
        text-transform: uppercase;
        transition: all 0.2s ease-out;
        &:hover {
          color: #3a95c7;
          text-decoration: none;
        }
      }
    }
  }
}

.main-breadcrump {
  display: block;
  margin-bottom: 25px;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  color: #7a7a7a;
  span {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    color: #3a95c7;
  }
  a {
    color: #7b7b7b;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.news-card {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 5px;
  padding: 34px 46px;
  background-color: #fafafa;
  border-radius: 3px;
  border: 3px solid transparent;
  transition: all 0.2s ease-out;
  img {
    display: block;
    width: 214px;
    height: 144px;
    margin-right: 15px;
    object-fit: cover;
    transition: all 0.2s ease-out;
  }
  span {
    display: block;
    margin-bottom: 10px;
    color: #3a95c7;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    transition: all 0.2s ease-out;
  }
  p {
    color: #2a4756;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
  }
  &:hover {
    background-color: white;
    border-color: #ccc;
    text-decoration: none;
    span {
      color: #1f3541;
    }
    img {
      -webkit-filter: brightness(70%);
    }
  }
}

.review-card {
  display: block;
  margin-bottom: 10px;
  padding: 36px 44px;
  border: 1px solid #bbd1dc;
  border-radius: 3px;
  span {
    display: block;
    margin-bottom: 10px;
    color: #2a4756;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
  }
}

.feature-article {
  color: #3b5a6b;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #2a4756;
    font-family: "Open Sans";
    font-weight: 600;
    line-height: 22px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 14px;
  }
  p {
    color: #2a4756;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
  }
  q {
    color: #306f92;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    font-style: italic;
    line-height: 22px;
  }
}

.feature-article__image {
  display: block;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.features-seo {
  color: #3b5a6b;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #2a4756;
    font-family: "Open Sans";
    font-weight: 600;
    line-height: 22px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 14px;
  }
  p {
    color: #2a4756;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
  }
  q {
    color: #306f92;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    font-style: italic;
    line-height: 22px;
  }
}

.feature-cards {
  margin-bottom: 60px;
}

.feature-card {
  display: inline-flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 49%;
  border-radius: 4px;
  transition: all 0.2s ease-out;
  img {
    display: block;
    width: 100%;
    -webkit-filter: brightness(80%);
    transition: all 0.2s ease-out;
  }
  span {
    display: block;
    padding: 20px;
    position: absolute;
    color: white;
    border: 1px solid transparent;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    transition: all 0.2s ease-out;
  }
  &:hover {
    text-decoration: none;
    img {
      -webkit-filter: brightness(50%);
    }
    span {
      border-color: white;
    }
  }
}

@-moz-document url-prefix() {
 .feature-card {
   span {
     margin-left: -150px;
     margin-top: -90px;
   }
 }
}