.nav>li>a {
  color: white;
  font-family: "Open Sans";
  font-size: 11px;
  font-weight: 600;
  line-height: 30px;
  text-transform: uppercase;
  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
    background-color: transparent;
  }
}

.navbar-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border: none;
}

.dropdown-menu {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid white;
}

.dropdown-menu>li>a {
  margin-bottom: 1px;
  padding: 20px 28px;
  background-color: #3a95c7;
  color: white;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  transition: all 0.2s ease-out;
  &:hover {
    color: #3a95c7;
  }
}

.carousel-control {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-indicators .active {
  background-color: #414141;
}

.carousel-indicators li {
  border: none;
  background-color: rgba(65, 65, 65, 0.51);
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.pagination>li {
  margin-left: 4px;
}

.pagination>li>a,
.pagination>li>span {
  border: 1px solid #dadada;
  border-radius: 3px;
  color: #1f3541;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
}

.pagination>.active>a,
.pagination>.active>a:hover,
.pagination>.active>a:focus,
.pagination>.active>span,
.pagination>.active>span:hover,
.pagination>.active>span:focus {
  background-color: #1f3541;
  border: 1px solid #dadada;
  border-radius: 3px;
  color: white;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: -1px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}