@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
  .main-header {
    padding: 0;
  }
  .main-header__nav {
    flex-flow: column wrap;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 15px;
    span {
      margin-bottom: 5px;
    }
  }
  .main-header__call {
    text-align: center;
  }
  .navbar-nav {
    flex-flow: column wrap;
  }
  .nav > li > a {
    line-height: 20px;
  }
  .main-sidebar {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
  }
  .main-content {
    padding-left: 15px;
    padding-right: 15px;
  }
  .home-prev {
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 20px;
    img {
      margin-bottom: 10px;
    }
  }
  #myCarousel {
    margin-bottom: 20px;
  }
  #owl-home {
    margin-bottom: 20px;
  }
  .home-review {
    margin-bottom: 20px;
  }
  .main-wrap {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .news-card {
    flex-flow: column wrap;
    align-items: center;
    padding: 15px;
    img {
      margin-bottom: 10px;
    }
  }
  .review-card {
    padding: 15px;
  }
  .feature-cards {
    margin-bottom: 20px;
  }
  .feature-card {
    width: 100%;
  }
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover>ul.dropdown-menu {
    display: block;
  }
}